.agenda {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content auto;
    margin-bottom: 1rem;
    font-weight: 300;
}

.time {
    grid-column: 1;
    color: rgb(238, 238, 238);
    margin-right: .5rem;
    font-size: 0.9rem;
}

.title {
    grid-column: 2;
    color: rgb(240, 240, 240);
    font-size: 0.9rem;
}

.previous {
    opacity: 50%;
}

.current {
    font-weight: 500;
}

.next {}