.graduates_list {
    grid-row: 1;
    height: max-content;
    overflow: hidden;
    max-height: 34rem;
    transition: 300ms linear all;
    display: flex;
    flex-direction: column;
}

.title {
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.diploma_card {
    margin-bottom: 1rem;
}