.graduates_list {
    grid-column: 1;
    grid-row: 1;
    height: max-content;
    overflow: hidden;
    max-height: 38.3rem;
    transition: 300ms linear all;
    display: flex;
    flex-direction: column;
}

.title {
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1.3rem;
}