.reaction {
    height: max-content;
    margin-top: 1rem;
    padding: 1rem .5rem;
    background-color: rgb(4, 56, 134);
}

.title {
    width: max-content;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: rgb(214, 170, 42);
}

.emojis {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.emoji {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    outline: none;
    cursor: pointer;
}

.emoji:active {
    opacity: 50%;
}

.emoji:disabled {
    opacity: 70%;
    cursor: not-allowed;
}