.chat {
    grid-column: 2;
    grid-row: 3;
    margin-top: 1rem;
    padding: 0.3rem 0.3rem 1rem 1rem;
    background-color: rgb(255, 255, 255);
    border: 0.1rem solid black;
    box-shadow: -7px 0px 34px -21px rgba(0, 0, 0, 0.75);
    display: grid;
    overflow: hidden;
}

.message_input {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 3rem;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 3rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: center;
    padding: .4rem 1rem;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: .9rem;
    justify-self: start;
    padding-right: .4rem;
}

.icon {
    width: 1.7rem;
    height: 1.7rem;
    justify-self: end;
    cursor: pointer;
}

.icon:active {
    filter: grayscale(50%);
}

.message_list {
    grid-row: 1/3;
    grid-column: 1;
    height: auto;
    overflow-y: auto;
}