.emoji {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.123);
    border-radius: 1rem;
    padding: 0.3rem .5rem;
    margin-right: .6rem;
    min-width: 3rem;
    display: flex;
    justify-items: flex-start;
    align-items: center;
}

.count {
    grid-row: 1;
    grid-column: 2;
    color: rgb(255, 255, 255);
    font-size: .8rem;
    font-weight: 300;
}

.emoji:active {
    opacity: 50%;
}

.emoji:disabled {
    opacity: 0.9;
    cursor: not-allowed;
}

.emoji_image {
    grid-row: 1;
    grid-column: 1;
    width: 1.2rem;
    margin-right: 0.2rem;
}