/* calc(width + (max-width - min-width) * ((100vw - min-screen) / (mac-screen - min-screen))) */

.header {
    grid-row: 1;
    height: 14.1rem;
    display: grid;
    justify-items: flex-start;
    align-items: center;
    grid-template-rows: max-content max-content max-content;
    background-color: rgb(241, 241, 241);
    padding: 2.5rem 3.2rem 0rem 3.2rem;
    position: relative;
}

.logo {
    grid-row: 1;
    grid-column: 1;
    width: 10rem;
    margin-bottom: 2rem;
}

.title {
    grid-row: 2;
    grid-column: 1;
    color: rgb(5, 33, 110);
    font-size: 3.5rem;
    font-weight: 200;
}

.date {
    grid-row: 3;
    grid-column: 1;
    color: rgb(5, 33, 110);
    font-size: 1.3rem;
    font-weight: bold;
}

.banner {
    height: 17.6rem;
    justify-self: flex-end;
    position: absolute;
    right: 3.2rem;
    top: 0;
}