:root {
    --header-height: calc(6.5rem + (14.1 - 6.5) * ((100vw - 20rem) / (105 - 20)));
    --header-title-font-size: calc(1.2rem + (3.5 - 1.2) * ((100vw - 20rem) / (105 - 20)));
    --header-date-font-size: calc(0.7rem + (1.3 - 0.7) * ((100vw - 20rem) / (105 - 20)));
    --header-logo-size: calc(6rem + (10 - 6) * ((100vw - 20rem) / (105 - 20)));
    --header-logo-margin-B: calc(0.3rem + (2 - 0.3) * ((100vw - 20rem) / (105 - 20)));
    --header-banner-size: calc(8.1rem + (17.6 - 8.1) * ((100vw - 20rem) / (105 - 20)));
    --header-padding-RL: calc(0.5rem + (3.2 - 0.5) * ((100vw - 20rem) / (105 - 20)));
    --header-padding-TB: calc(1rem + (2.5 - 1) * ((100vw - 20rem) / (105 - 20)));
}

.header {
    grid-row: 1;
    height: var(--header-height);
    display: grid;
    justify-items: flex-start;
    align-items: center;
    grid-template-rows: max-content max-content max-content;
    background-color: rgb(241, 241, 241);
    padding: var(--header-padding-TB) var(--header-padding-RL);
    position: relative;
}

.logo {
    grid-row: 1;
    grid-column: 1;
    width: var(--header-logo-size);
    margin-bottom: var(--header-logo-margin-B);
}

.title {
    grid-row: 2;
    grid-column: 1;
    color: rgb(5, 33, 110);
    font-size: var(--header-title-font-size);
    font-weight: 200;
}

.date {
    grid-row: 3;
    grid-column: 1;
    color: rgb(5, 33, 110);
    font-size: var(--header-date-font-size);
    font-weight: bold;
}

.banner {
    height: var(--header-banner-size);
    justify-self: flex-end;
    position: absolute;
    right: var(--header-padding-TB);
    top: 0;
}