.footer {
    grid-row: 4;
    height: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: transparent;
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-auto-columns: max-content 1fr max-content;
}

.powered_by {
    justify-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-auto-flow: column;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 200;
    grid-column: 1;
}

.copyright {
    color: rgba(255, 255, 255, 0.658);
    justify-self: center;
}

.logo {
    justify-self: flex-end;
    width: 8rem
}

.chat_with_us {
    width: 8rem;
    grid-column: 3;
}