* {
    padding: 0;
    margin: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body, #root {
    width: 100vw;
    height: 100vh;
    background-color: rgb(233, 244, 242);
}

#root {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: max-content 1fr;
    border: 0.2rem solid rgb(111, 101, 101);
}

button {
    cursor: pointer;
}