.message {
    padding-right: 20%;
    height: max-content;
    margin-bottom: 0.5rem;
    display: grid;
    justify-items: flex-start;
    align-items: center;
    justify-content: left;
}

.avatar {
    grid-column: 1;
    grid-row: 1/3;
    align-self: start;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border: none;
    border-radius: 100%;
    background-color: rgb(183, 75, 75);
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 1rem;
    margin-right: 0.7rem;
}

.user_name {
    grid-column: 2;
    grid-row: 1;
    font-size: .9rem;
    font-weight: 500;
    color: rgb(48, 48, 48);
    margin-bottom: 0.3rem;
}

.text {
    grid-column: 2;
    grid-row: 2;
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 1rem;
}